@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rozha+One&display=swap');


body {
    font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: x-large;
    font-family: "Dela Gothic One", sans-serif;
}


.grad-main-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-green-500 to-teal-500
}

.bg-grad-main {
    @apply  bg-gradient-to-br  from-green-500 to-teal-500
}
.button {
    @apply bg-transparent border text-white
    hover:bg-green-500 p-4 transition-all duration-300 hover:border-none rounded-md 
}

.padding {
    @apply px-36 py-24
}

body {
    background-color: #F3F4F6;
}
